h1 {
  color: darkolivegreen;
}

h2 {
  color: darkolivegreen;
  font-family: sans-serif;
}

h3 {
  color: darkolivegreen;
  font-family: sans-serif;
}

h4 {
  color: darkolivegreen;
  font-family: sans-serif;
}

p {
  color: darkolivegreen;
  font-family: sans-serif;
}

ul {
  color: darkolivegreen;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 25px;
}

ol {
  color: darkolivegreen;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 25px;
}

